<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Absence Managment System</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/bootstap.min.css">
    
</head>

<body>

    <form class="box" method="POST">
       <a href="#hero"></a>
        <h1><span>Abscence </span><span> Management </span><span> System </span> </h1>
        {{  message }}
        <div class="alert alert-secondary" role="alert">
           <p>{{message}}</p>
        </div>
     
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <a href="#">
            <small
                style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: black;">Forget
                Password ?</small>
        </a>
        <form >
        <input type="submit" name="" value="Login">
       
    </form>
    </form>
    
    
</body>

</html>
